{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

<body align="center">
    <form action="#" method="get" id="Atlusfor">
        <div class="flex-container">
            <div>
                <h4>Your Response</h4>
                <textarea form="Atlusfor" name="info_name" rows="26" cols="50"></textarea>
            </div>
            <div>
                <h3>Parameters</h3>
                <ul id="Atlus_ul">
                    <li id="Atlus">Age</li>
                    <li id="Atlus">Gender</li>
                    <li id="Atlus">Country</li>
                    <li id="Atlus">State</li>
                    <li id="Atlus">Self employed</li>
                    <li id="Atlus">Family history</li>
                    <li id="Atlus">Treatment</li>
                    <li id="Atlus">Work interfere</li>
                    <li id="Atlus">No employees</li>
                    <li id="Atlus">Remote work</li>
                    <li id="Atlus">Tech company</li>
                    <li id="Atlus">Benefits</li>
                    <li id="Atlus">Care options</li>
                    <li id="Atlus">Wellness program</li>
                    <li id="Atlus">Seek help</li>
                    <li id="Atlus">Anonymity</li>
                    <li id="Atlus">Leave</li>
                    <li id="Atlus">Mental health-consequence</li>
                    <li id="Atlus">Phys health-consequence</li>
                    <li id="Atlus">Co-workers</li>
                    <li id="Atlus">Supervisor</li>
                    <li id="Atlus">Mental health interview</li>
                    <li id="Atlus">Phys health interview</li>
                    <li id="Atlus">Mental vs physical</li>
                    <li id="Atlus">Obs consequence</li>
                    <li id="Atlus">Comments</li>
                    <hr>
                </ul>

                <button name="Atlus_button" class="flex-column btn btn-primary float-right" value=" Submit"> Submit
                </button>
            </div>
        </div>
    </form>
</body>
{% endblock %}