[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.1.12"
django-bootstrap4 = "==1.1.1"
djangorestframework = "==3.11.0"
gunicorn = "*"
pandas = "==1.0.3"
scikit-learn = "==0.22.1"
numpy = "==1.22.0"
whitenoise = "*"

[requires]
python_version = "3.8"
