[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==2.2.10"
django-bootstrap4 = "==0.0.8"
tweepy = "==3.7.0"
joblib = "==0.13.1"
pandas = "==0.25.0"
psycopg2 = "==2.8.4"
django-heroku = "==0.3.1"
jsonify = "==0.5"
keras = "==2.2.4"
keras-applications = "==1.0.6"
keras-preprocessing = "==1.0.5"
tensorflow = "==1.13.1"
