{% extends 'layouts/default/page.html' %} {% load bootstrap4 %} {% load i18n %} {% block content %}

<body align="center">
    <form method="POST">
        {% csrf_token %}
        <div class="flex-container">
            <div>
                <h3>Your Response</h3>
                <textarea name="info" rows="9" cols="20"></textarea>
            </div>
            <div>
                <h3>Parameters</h3>
                <ul id="Atlus_ul">
                    <li id="Atlus">Age</li>
                    <li id="Atlus">Gender</li>
                    <li id="Atlus">Family history</li>
                    <li id="Atlus">Self Employed</li>
                    <li id="Atlus">Work interfere</li>
                    <li id="Atlus">No employees</li>
                    <li id="Atlus">Remote work</li>
                    <li id="Atlus">Tech company</li>
                    <li id="Atlus">Benefits</li>
                    <hr>
                </ul>
                <button class="flex-column btn btn-primary float-right" type="Submit"> Submit </button>
            </div>
        </div>
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }} mes" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div id="navbarr">
        <p>Made BY Dragonblood With ❤<br> Visit My Site <a href="http://Vipulpetkar.ml">Vipul petkar</a></p>
    </div>
    {% endblock %}