@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
html {
    height: 150%;
}

text {
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
}

body {
    background: #ad5389;
    margin: 0;
    overflow: hidden;
}


.overlay {
    position: fixed;
    display: block;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
  }

.footer {
    position: fixed;
    z-index: 2;
    bottom: 5px;
    right: 10px;
    padding: 20px 20px 10px 20px;
    font-size: 14px;
    color:#000000;
	transform: skew(10deg);
	background: rgba(0, 0, 0, 0.8);
}

a,
a:hover,
a:focus {
    text-decoration: none;
    transition: all 0.3s;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


/*--------------------------------------------------------
                      modal windows
----------------------------------------------------------*/

.modal .modal-dialog {
    width: 480px;
}

.modal .form-group {
    margin-bottom: 0px;
}

.modal .alert {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 8px 15px 8px 15px;
}

.modal .alert-dismissable,
.modal .close {
    right: -4px;
}

.modal p {
    margin: 0;
    padding: 0;
}

.modal .modal-footer button {
    width: 80px;
}

.center-vertical {
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* ---------------------------------------------------
                      Atlus Box
----------------------------------------------------- */

* {
    box-sizing: border-box;
    color: floralwhite;
}

#Atlus_ul {
    list-style-type: none;
    text-align: right;
    width: auto;
    padding: 0px 10px 0px 70px;
}

.flex-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.flex-container>div {
    background-color: #353941;
    width: auto;
    padding: 1%;
    text-align: center;
}

#Atlus {
    color: rgb(255, 255, 255);
    font-size: 16px;
}

#Atlus:nth-child(odd) {
    color: rgb(241, 182, 237);
}

textarea {
    color: #000000;
    font-size: 16px;
}

.mes {
    display: none;
}

.click{
    right: 10px;
}

button {
    border-radius: 10px;
  }




.btn-primary {
    color: #ffffff;
    background-color: #e14eca;

    background: #e14eca;
    background-image: linear-gradient(to bottom left, #e14eca, #ba54f5, #4e5de1);
    background-image: -webkit-linear-gradient(
      to bottom left,
      #e14eca,
      #ba54f5,
      #4e5de1
    );
    background-image: -moz-linear-gradient(
        to bottom left,
        #e14eca,
        #ba54f5,
        #4e5de1
      );

    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  }
  
  .btn-primary.animation-on-hover:hover {
    background-position: bottom left;
    transition: 1s ease-in-out;
  }
  
  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active,
  .btn-primary.active,
  .btn-primary:active:focus,
  .btn-primary:active:hover,
  .btn-primary.active:focus,
  .btn-primary.active:hover {
    background-color: #ba54f5 !important;
    background-image: linear-gradient(
      to bottom left,
      #e14eca,
      #ba54f5,
      #e14eca
    ) !important;
    background-image: -webkit-linear-gradient(
      to bottom left,
      #e14eca,
      #ba54f5,
      #e14eca
    ) !important;
    background-image: -o-linear-gradient(
      to bottom left,
      #e14eca,
      #ba54f5,
      #e14eca
    ) !important;
    background-image: -moz-linear-gradient(
      to bottom left,
      #e14eca,
      #ba54f5,
      #e14eca
    ) !important;
    color: #ffffff;
    box-shadow: none;
  }
  
  .btn-primary:active {
    box-shadow: none !important;
    transform: translateY(1px) !important;
    transition: all 0.5s ease;
  }
  
  .btn-primary:not([data-action]):hover {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
  }