{% load static %} {% load bootstrap4 %} {% load i18n %} {% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="{{ language_code }}">

<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="An example of Django project with basic user functionality.">

    <link rel="icon" href="{% static 'img/favicon.png' %}">

    <title>Project Atlus</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css"
        rel="stylesheet">


</head>

<body>
    <div class="overlay">
        <div id="nav">
            <!-- this file contain sidebar and top bar. Things that pop up after signing in.-->
            <nav class="navbar navbar-expand-md navbar-dark bg-dark static-top">
                <h2>Project Atlus<br></h2>
            </nav>
        </div>
        <div class="container-fluid mt-3">

            {% bootstrap_messages %} {% block content %} {% endblock %}
        </div>
    </div>
    <div class="footer">
        <p><i>Made BY Dragonblood With ❤<br> Visit My Site <a href="http://Vipulpetkar.ml">Vipul petkar</i></a></p>
    </div>

    <css-doodle click-to-update>
        :doodle {
          @grid: 18 / 100vmax;
          background: #0a0c27;
        }
        --hue: calc(180 + 1.5 * @row * @col);
        background: hsl(var(--hue), 50%, 70%);
        margin: -.5px;
        transition: @r(.5s) ease;
        clip-path: polygon(@pick(
          '0 0, 100% 0, 100% 100%',
          '0 0, 100% 0, 0 100%',
          '0 0, 100% 100%, 0 100%',
          '100% 0, 100% 100%, 0 100%'
        ));
      </css-doodle>


    </script>
    <script src='https://unpkg.com/css-doodle@0.13.9/css-doodle.min.js'></script>

</body>

</html>